body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #007bff !important;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3 !important;
}

.error-message {
    color: red;
}
.overdue {
    color: red;
}
.error {
    color: red;
}

